agent_json.json
{
  "name": "chale ga",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "60de0a26-21ce-44e0-ad52-580a932677b5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        16
      ],
      "id": "6467605b-f087-4a50-97d7-214cc66ca4e7",
      "name": "Webhook",
      "webhookId": "60de0a26-21ce-44e0-ad52-580a932677b5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"full\",\n  \"message\": \"I'm sorry, the time slot for {{ $json.appointment_time }} is already booked. Please ask the patient for another time.\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        112
      ],
      "id": "c2765ab4-5997-4e18-b76b-1443d1b06657",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "muhammadusmann631@gmail.com",
          "mode": "list",
          "cachedResultName": "muhammadusmann631@gmail.com"
        },
        "start": "={{ $json[\"appointment_date\"] }}T{{ $json[\"appointment_time\"] }}:00+05:00",
        "end": "={{ $json[\"appointment_date\"] }}T19:00:00+05:00",
        "additionalFields": {
          "summary": "={{ $node[\"Append row in sheet\"].json[\"first_name\"] }} {{ $node[\"Append row in sheet\"].json[\"last_name\"] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        -112
      ],
      "id": "9b5d904c-4617-4fbc-9efd-d4d8420dff18",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Bya6KnEYP2zkrUNr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19UpvWIz9ZdjSWiNIshh_HcYdCWRC9k79x5Hv0gX4-fA",
          "mode": "list",
          "cachedResultName": "detal cleanic data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19UpvWIz9ZdjSWiNIshh_HcYdCWRC9k79x5Hv0gX4-fA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19UpvWIz9ZdjSWiNIshh_HcYdCWRC9k79x5Hv0gX4-fA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first_name": "={{ $json.body.first_name }}",
            "last_name": "={{ $json.body.last_name }}",
            "appointment_date": "={{ $json.body.appointment_date }}",
            "appointment_time": "={{ $json.body.appointment_time }}",
            "reason": "={{ $json.body.reason }}",
            "contact_number": "={{ $json.body.contact_number }}",
            "email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_date",
              "displayName": "appointment_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_time",
              "displayName": "appointment_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_number",
              "displayName": "contact_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -16
      ],
      "id": "b9e37564-b570-4a53-a6b4-2e76a34c4878",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AJC37zvWDFgQGLFH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "muhammadusmann631@gmail.com",
          "mode": "list",
          "cachedResultName": "muhammadusmann631@gmail.com"
        },
        "timeMin": "={{ $json[\"appointment_date\"] }}T{{ $json[\"appointment_time\"] }}:00+05:00",
        "timeMax": "={{ $json[\"appointment_date\"] }}T{{ $json[\"appointment_time\"] }}:05:00+05:00",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -16,
        -32
      ],
      "id": "aed31900-6a98-4ba8-9be6-09a2bac01b5b",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Bya6KnEYP2zkrUNr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ce95057-c703-472a-828f-448b7917e167",
              "leftValue": "={{ $node[\"Get many events\"].json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        16
      ],
      "id": "a03962a8-275f-45d9-ba82-597b5c29a04d",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Mubarak ho! {{ $json.first_name }} ki appointment {{ $json.appointment_date }} ko {{ $json.appointment_time }} baje book ho gayi hai.\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        -80
      ],
      "id": "9b768eae-650d-46a1-b659-a7eae59f09a4",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "januman.app.n8n.cloud",
            "user-agent": "ElevenLabs/1.0",
            "content-length": "370",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9c70067977c7ee11-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47, 172.70.179.52",
            "x-forwarded-host": "januman.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-93-55cb986576-nk7zz",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "first_name": "सैयद मोहम्मद उस्मान",
            "last_name": "शाह",
            "appointment_date": "2026-02-14",
            "appointment_time": "18:00",
            "reason": "दाँत में दर्द",
            "contact_number": "03161287200",
            "email": "usmanshah631@gmail.com"
          },
          "webhookUrl": "https://januman.app.n8n.cloud/webhook/60de0a26-21ce-44e0-ad52-580a932677b5",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4d9d5544-8438-46f5-b96d-cbd7b80aa64c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c233c9ef4b7a0bcee013728f553d5c0a7d54f04c99bf898982e8a2cb90ec7ee1"
  },
  "id": "337tw2KeeSN-TnOOt3q06",
  "tags": []
}